<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.E17A1F11-0B77-4162-864A-B0CF0C7B849C</string>
	<key>lightthemeuid</key>
	<string>theme.bundled.moderndark</string>
</dict>
</plist>
