<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.558C2116-5C61-437F-8E33-896318FE3C4F</string>
	<key>lightthemeuid</key>
	<string>theme.bundled.moderndark</string>
</dict>
</plist>
