<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.alexwhittemore.mbpcharge</string>
	<key>connections</key>
	<dict>
		<key>3750CD26-155D-4D8B-A98F-D8275E8B2F5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D553C50-08D9-4966-8567-500963E4FFE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2ACDE12-E188-4707-9ADE-3BE0D85FA394</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3750CD26-155D-4D8B-A98F-D8275E8B2F5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Whittemore</string>
	<key>description</key>
	<string>Disable charging a macbook pro past a certain percentage</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MBPCharge</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0D553C50-08D9-4966-8567-500963E4FFE1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

if test -z "$query" 
then
	echo -n `/usr/bin/osascript -e 'do shell script "./smcutil -r BCLM"'`%
else
	echo -n `/usr/bin/osascript -e "do shell script \"sudo ./smcutil -w BCLM $query\" with administrator privileges"`
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3750CD26-155D-4D8B-A98F-D8275E8B2F5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"read","subtitle":"Check current value"},{"title":"100%","arg":"64","subtitle":"Set limit to 100"},{"title":"70%","arg":"46","subtitle":"Set limit to 70%"}]</string>
				<key>keyword</key>
				<string>charge</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Check or set maximum charging level in the SMC</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D2ACDE12-E188-4707-9ADE-3BE0D85FA394</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Allows you to set your MacBook Pro's charging limit to either 70% or 100%, or check the current value.

Tested on MBP 2018 15" Touch Bar.</string>
	<key>uidata</key>
	<dict>
		<key>0D553C50-08D9-4966-8567-500963E4FFE1</key>
		<dict>
			<key>xpos</key>
			<integer>675</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>3750CD26-155D-4D8B-A98F-D8275E8B2F5A</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D2ACDE12-E188-4707-9ADE-3BE0D85FA394</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alexwhittemore.com</string>
</dict>
</plist>
