<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.video-conferences</string>
	<key>connections</key>
	<dict>
		<key>3D03DDC8-C6B8-448A-9C89-E15133EB080D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553515E3-B421-475A-9EE0-479F01FC6CC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>737B93E4-9115-40CD-8594-576C2BB2A4CD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B65C0539-D6DB-446D-8FBD-363E7CD1CC77</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>553515E3-B421-475A-9EE0-479F01FC6CC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3D96EC5-006A-48CA-820E-75CDF9BA058C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84730EA4-495D-4138-8A4A-73A47E8B67EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B24D1A5E-0534-4D65-A1EB-94983A2C2DE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B24D1A5E-0534-4D65-A1EB-94983A2C2DE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D03DDC8-C6B8-448A-9C89-E15133EB080D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>90839E0F-8120-4F07-8461-FAE2912503DC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show Event in Calendar.app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B65C0539-D6DB-446D-8FBD-363E7CD1CC77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E958DB4-C9B8-4EA3-96A8-BABAB3BDE7A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C45647F5-C884-446E-BD7F-012870C2FC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32945B25-E704-48C7-A8E4-8DE6B2BD0EC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3D96EC5-006A-48CA-820E-75CDF9BA058C</key>
		<array/>
		<key>DA9BCF74-782A-4650-986C-6AD60DF9E6D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B24D1A5E-0534-4D65-A1EB-94983A2C2DE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Show upcoming video conferences from your calendars</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Video Conferences</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D3D96EC5-006A-48CA-820E-75CDF9BA058C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./video-conferences.py --force-reload</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>553515E3-B421-475A-9EE0-479F01FC6CC7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.vc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading events…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>video-conferences.py</string>
				<key>subtext</key>
				<string>Search upcoming video conferences from your calendars</string>
				<key>title</key>
				<string>Video Conferences</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B24D1A5E-0534-4D65-A1EB-94983A2C2DE9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>84730EA4-495D-4138-8A4A-73A47E8B67EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reload</string>
						<key>outputlabel</key>
						<string>Reload cached events</string>
						<key>uid</key>
						<string>737B93E4-9115-40CD-8594-576C2BB2A4CD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open conference URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3D03DDC8-C6B8-448A-9C89-E15133EB080D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7E958DB4-C9B8-4EA3-96A8-BABAB3BDE7A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>B65C0539-D6DB-446D-8FBD-363E7CD1CC77</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DA9BCF74-782A-4650-986C-6AD60DF9E6D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./video-conferences.py --calendar "${calendar_name}" --event "${event_id}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90839E0F-8120-4F07-8461-FAE2912503DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Event cache was updated</string>
				<key>title</key>
				<string>Events Reloaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>32945B25-E704-48C7-A8E4-8DE6B2BD0EC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>notify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C45647F5-C884-446E-BD7F-012870C2FC87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Video Conferences
=================

This workflow reads your Calendars database for upcoming events and shows those that contain URLs matching those of known video conference software links.

It supports Lync and Zoom out of the box. To add additional services, add a variable named `regex_*` (e.g. `regex_jitsi`) to the configuration with its value set to a Python regular expression that matches video-conference URLs for that service.

To limit the accounts and/or calendars from which results are shown, add `account_*` or `calendar_*` variables set to the names of the accounts/calendars you wish to restrict the search to.

If you don't have and `account_*` or `calendar_*` variables set, all accounts &amp; calendars are searched.

`lookahead_days` is the number of days for which the workflow will fetch events.

`max_cache_seconds` is the number of seconds for which the workflow will cache a list of events retrieved from Calendar.app.

If the cache is out of date, you can force an update by entering the search query "reload" and actioning the "Reload Events" item.</string>
	<key>uidata</key>
	<dict>
		<key>32945B25-E704-48C7-A8E4-8DE6B2BD0EC3</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>3D03DDC8-C6B8-448A-9C89-E15133EB080D</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>553515E3-B421-475A-9EE0-479F01FC6CC7</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7E958DB4-C9B8-4EA3-96A8-BABAB3BDE7A2</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>84730EA4-495D-4138-8A4A-73A47E8B67EC</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>90839E0F-8120-4F07-8461-FAE2912503DC</key>
		<dict>
			<key>note</key>
			<string>Show event in Calendar.app</string>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>B24D1A5E-0534-4D65-A1EB-94983A2C2DE9</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>B65C0539-D6DB-446D-8FBD-363E7CD1CC77</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>C45647F5-C884-446E-BD7F-012870C2FC87</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>D3D96EC5-006A-48CA-820E-75CDF9BA058C</key>
		<dict>
			<key>note</key>
			<string>Re-open workflow</string>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>DA9BCF74-782A-4650-986C-6AD60DF9E6D7</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>account_1</key>
		<string></string>
		<key>account_2</key>
		<string></string>
		<key>calendar_1</key>
		<string></string>
		<key>calendar_2</key>
		<string></string>
		<key>calendar_3</key>
		<string></string>
		<key>lookahead_days</key>
		<string>3</string>
		<key>max_cache_seconds</key>
		<string>300</string>
		<key>regex_google_meet</key>
		<string>https://meet\.google\.com/[a-z-]+</string>
		<key>regex_lync</key>
		<string>https://meet\.lync\.com/[a-z0-9_.-]+/[a-z0-9_.-]+/[a-z0-9]+</string>
		<key>regex_ms_teams</key>
		<string>https://teams\.microsoft\.com/l/meetup-join/[a-zA-Z0-9/%?&amp;=._-]+</string>
		<key>regex_zoom</key>
		<string>https://[a-z0-9]+\.zoom\.us/[a-z0-9_.-]+/\d+\?pwd=[a-z0-9]+</string>
		<key>regex_zoom2</key>
		<string>https://([a-z0-9]+\.)?zoom\.us/j/\d+(\?pwd=[a-z0-9]+)?</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>calendar_1</string>
		<string>account_1</string>
		<string>account_2</string>
		<string>calendar_2</string>
		<string>calendar_3</string>
	</array>
	<key>version</key>
	<string>0.1.3</string>
	<key>webaddress</key>
	<string>https://www.deanishe.net/post/2020/05/workflow-video-conferences/</string>
</dict>
</plist>
